.search{
    border-radius: 10px;
    width: 25%;
    height: 70px;
    opacity: 0.5;
    
    right: 30px;
    position: absolute;
    background-color: #ffd500;
    border-color: #ffc400;
    color: #fffde7;
    outline: none;

    &:focus{
        width: 40%;
        opacity: 1;
    }
}

.searchIcon{
    position: absolute;
    top: 40px;
    right: 27%;
}

.clear {
    position: absolute;
    top: 32px;
    right: 40px;
}   
