.search{
    border-radius: 10px;
    width: 30%;
    height: 70px;
    opacity: 0.5;
    right: 30px;
    position: absolute;
    color: #fffde7;
    outline: none;

    &:focus{
        width: 70%;
        opacity: 1;
    }
}


.clear {
    position: absolute;
    padding-top: 15px;
    right: 40px;
}   
