body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



select,
input {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid ffc400;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 20px;
  width: 400px;
  max-width: 600px;
}

label {
  display: block;
  margin-bottom: 8px;
}

button,
input[type='submit'],
.button {
  position: relative;
  background: #ffc400;
  color: black;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 10px;
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 100%;
  font-weight: lighter;
  transition: 0.3s all;
  max-width: 600px;
}

button[type='button'] {
  background: #575758;
  color: white;
  text-transform: none;
  padding: 10px;
  letter-spacing: 5px;
  width: 10%;

}

.note{
  background: #d291be;
  align-items: center;
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;

}

input[type='submit']:hover,
button[type='button']:hover {
  background: #cbad49;
  color: white;
}

input[type='submit']:active {
  transition: 0.3s all;
  top: 2px;
}

.text-center {
  text-align: center;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.swim{
  position: sticky;
  top: 10px;
}

.size{
  font-size: 20px
}

.yellowButton {
  background-color: #ffc400;
  width: 95%; 
  justify-content: center;
  cursor: pointer;

  &:disabled {
    cursor:default;
    background-color: #cabf9b ;
    animation: button-loading 1s ease-in-out infinite;
  }

  &:hover {
    img {
      transform: translateX(5px);
    }
  }

  img {
    position: absolute;
    right: 30px;
    top: 20px;
    transition: transform 0.15s ease-in-out;
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.item{
    overflow: auto;
  
}

.minus{
  
  cursor: pointer;
  opacity: 0.9;
  
    &:hover {
  cursor:default;
  opacity: 1;
  border-radius: 10px;
  transition: opacity 0.15s ease-in-out;
  }
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.headButton{
  color: #fffde7;

  &:hover {
    cursor:pointer;
    opacity: 0.7;
    transition: opacity 0.15s ease-in-out;
    }

}

.ToShopBotton{
  color:#fffde7;
  background-color: #ffc400;
  font-size: 25px;
  height: 70px;
  
  
  &:hover {
    background-color: #c39c18;
    cursor:pointer;
    
  }
}

.cartRend{
  margin-top: 85px; 
}

.Notfound{
  text-align: center;
  font-size: 35px;
  margin-top: 5%;
}

.bottom10proc{
  margin-bottom: 10%;
}

.forms {
  width: 100%;
  border-radius: 10px;
  background-color: #f5f0e4;

  &:hover {
    background-color: white;
  }
}


.centerCell{
  position: absolute;
  top: 35%;
  text-align: center;
  margin-left: 100px;
}

.carousel{
  width: 100%;
  max-width: 700px;
}